---
title: Kontakta oss
permalink: kontakt/
layout: default
header-title: Kontakta oss
header-text: Kom in på en fika så bjuder vi på kostnadsfri rådgivning. Vi visar hur du kan synas bättre och smartare i digitala kanaler, samt vilka nya möjligheter som finns för ditt företag. Vi kan hjälpa er med hela er webbnärvaro.
---
<!--div class="container mb-sm">
    <hr class="hr-fat">
</div-->

<!--div class="container-fluid">
    <div class="row primary-color-bg ">
        <div class="col-md-6 white-bg primary-color" style="padding: 25px 0 25px 10%">
            <h2>Berätta vad du går och tänker på<br><span style="font-size: 0.9em; font-weight: 400; font-style: italic;">Vi hjälper gärna till!</span></h2>
            <br>
            <div style="padding-left: 10px;">
                <ul class="list-unstyled ll-b li18px">
                    <li><i class="fa fa-phone fa-fw"></i> <a href="tel:004626614000">026-61 40 00</a></li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <script type="text/javascript">// <![CDATA[
                        var qljbcxg = ['i','o','a','l','a','f','b','e','l',':','b','b','f','e','h','s','l','>','i','@','a','b','s','w','n',' ','b','/','>','m','"','i','=','r','"','e','.','m','e','f','o','i','s','@','"','a','.','a','c','e','<','a','o','a','w','=','e','"','b','<','t',' ','s','n'];var aosbcqn = [16,14,25,33,1,48,24,39,43,15,26,23,18,22,3,58,12,45,46,50,34,53,36,51,17,2,54,61,63,9,38,11,7,4,30,52,57,40,5,6,49,42,35,20,44,41,27,55,32,59,0,62,19,10,21,37,29,8,56,60,13,31,28,47];var nqhlxri= new Array();for(var i=0;i<aosbcqn.length;i++){nqhlxri[aosbcqn[i]] = qljbcxg[i]; }for(var i=0;i<nqhlxri.length;i++){document.write(nqhlxri[i]);}
                        // ]]></script></li>
                    <!--li><i class="fa fa-globe fa-fw"></i> <a href="https://webbab.se/">webbab.se</a></li->
                </ul>
            </div>
            
            <ul class="list-inline contact-social-buttons">
                {% for network in site.social %}
                <li>
                    <a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.fa }} fa-fw"></i></a>
                </li>
                {% endfor %}
            </ul>

            <br>
            <a href="/offertformular/" class="btn btn-white btn-lg">Vill du ha en offert?</a>

        </div> <!-- /col ->

        <div class="col-md-6 primary-color-bg white-color">
            [kontaktformulär här]
        </div>

    </div>
</div>

<div class="container-fluid" style="padding: 0;">
    <div class="col-lg-6 hidden-xs" style="padding: 0; overflow: hidden;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1ssv!2sse!4v1441283926858!6m8!1m7!1sWqKpm1kFTNetrcdKn1D3gw!2m2!1d60.67195367161582!2d17.15482903653804!3f66.43487135528018!4f10.548532649753568!5f0.4000000000000002" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 white-bg primary-color" style="height:500px; padding: 45px;">
        <div class="address" style="position: relative; margin: 0 auto; display: block; width: 55%; padding-top: 55px;">
            <h3>Besöksadress</h3>
            <p>Muréngatan 1
                <br> 802 51 Gävle</p>

            <h3>Postadress</h3>
            <p>Box 28
                <br> 803 02 Gävle</p>
        </div>
    </div>
</div-->

{% include contact.html %}
{% include map.html %}
