---
title: Sitemap
permalink: sitemap/
layout: default
---



<section class="container">
    <div class="row mtb">
        <div class="col-md-6">
            <ul class="list-unstyled">
                <li>Om oss</li>
                <li>Portfolio</li>
                    <ul class="list-unstyled" style="padding-left: 15px;">
                    {% for project in site.categories.portfolio %}
                        <li><a href="{{ project.url }}">{{ project.title }}</a></li>
                    {% endfor %}
                    </ul>
                <li>Vad</li>
                <li></li>
            
            </ul>
            
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled">
                <li><a href="/tjanster" title="Tjänster">Tjänster</a></li>
                   <ul class="list-unstyled" style="padding-left: 15px;">
                    {% for tjanst in site.data.tjanster %}
                        <li>{% if tjanst.lasmer %}<a href="/tjanster/{{ tjanst.lasmer }}/">{% endif %}{{ tjanst.titel }}{% if tjanst.lasmer %}</a>{% endif %}</li>
                    {% endfor %}
                    </ul>
                <li><a href="/blogg" title="Blogg">Blogg</a></li>
                <li></li>
            </ul>
            
        </div>
    </div>

</section>
