---
title: Grafisk design & Trycksaker
permalink: tjanster/grafisk-design/
layout: default
header-title: Grafisk design
header-text: Vi designar logotyper, formulär, brevpapper, visitkort och allt annat ditt företag kan tänkas behöva.
---

<section class="container-fluid ll">
    <div class="container">
    <hr class="hr-fat">
    <div class="row mtb" >
        <div class="col-lg-12">
            <h2>rubrik</h2>
            <p>Vi kan hjälpa er att ta fram massa olika trycksaker.<br> lista exempel på vad vi gjort, som t ex logotyper, visitkort, rollups, formulär osv.</p>
            <p>Ska vi ha ungefärliga priser här eller bara länka till kontaktsidan för offert?</p>
        </div>
    </div>
    </div>
    
    <div class="container">
    
<!--    <div class="row">
        <div class="col-md-6">
            <h3>Animerad reklamfilm</h3>
            <p>Marknadsför er eller ert erbjudande med en film för nå och engagera era kunder. Många fördelar jämfört med en vanlig inspelad reklamfilm.</p>
            
            <h3>Presentationsfilm</h3>
            <p>Presentera ditt företag, organisation, produkt, tjänst eller evenemang på ett enkelt och engagerande sätt.</p>
            
            <h3>Instruktionsfilm</h3>
            <p>En instruktionsfilm passar för dig som vill visa dina kunder hur en produkt eller tjänst fungerar och hur man använder den rent praktiskt.</p>
        </div>
        <div class="col-md-6">
            <h3>Informationsfilm</h3>
            <p>En informationsfilm brukar vara runt 40-90 sekunder lång och förklarar eller visar upp din produkt / tjänst på ett snabbt och tydligt sätt.</p>
  
            <h3>Produktfilm</h3>
            <p>Produktfilmen visar upp en fysisk produkt och ger fakta och information. Kan med fördel vara 3d-animerad, och kan självklart även ha inspelade inslag.
            <br>3d modellerna av era produkter är även möjliga att visa upp och interagera med i realtid på webben.</p>
        </div>
    </div>-->
        
        visa en massa snygga mockups och grejer här. saker vi gjort.
        skiweek plastkort
        rentunders visitkort och borschyrer och rollups
        moab logo och mockups på bilar och kläder
        (lägg till i moab och rentunder portfolio också)
        
        <div class="row">
            <div class="col-md-4">
                <h2>Plastkort</h2>
                <p>Vi har en egen plastkortsprinter, så det så.</p>
                <p>Läs mer på <a href="http://plastkort.nu" title="Plastkort.nu">Plastkort.nu</a>.</p>
            </div>
            <div class="col-md-8 mb">
                <img src="/img/tjanster/plastkort.jpg" title="Entrepreneur Skiweek 2015" class="img-responsive center-block">
            </div>
            <div class="col-md-4">
                <h2>Logotyp</h2>
                <p>En logotyp...blalblabla.</p>
            </div>
            <div class="col-md-8 mb">
                <img src="/img/tjanster/plastkort.jpg" title="" class="img-responsive center-block">
                bild på mockup bil med moabs logga?
            </div>
            <div class="col-md-4">
                <h2>Visitkort</h2>
                <p>lorem asdasdas dasdasda</p>
            </div>
            <div class="col-md-8 mb">
                <img src="/img/portfolio/rentunder_visitkort.jpg" title="Visitkort" class="img-responsive center-block">
            </div>
            <div class="col-md-4">
                <h2>Övrigt</h2>
                <p>Vi kan även hjälpa er ta fram broschyrer, rollups, arbetsformulär, mm!</p>
            </div>
            <div class="col-md-8 mb">
                <img src="/img/portfolio/rentunder_visitkort.jpg" title="Visitkort" class="img-responsive center-block">
            </div>
        </div>

        
    </div><!-- /container -->
</section>





{% include las-vidare.html %}
{% include mini-kontakt.html %}