---
title: Appar, spel och 3D-visualisering
permalink: tjanster/appar/
layout: default
header-title: Appar, spel och 3D-visualisering
header-text: Behöver ert företag ta fram en app för era kunder, interna system, eller för att effektivisera ert arbete? Eller vill du kanske skapa ett spel, antingen för reklamsyfte, gamificerad e-learning eller ren underhållning? Vi kan även skapa 3D-visualisationer av produkter antingen för presentation i realtid på webben eller som <a href="/tjanster/animerad-film/">förrenderat material</a>.</p><p class="header-text ll">De flesta av oss har idag en smartphone och behovet, och användningsområdena, av appar för dessa enheter växer hela tiden. Vi hjälper er att ta fram en app med den funktionalitet du önskar, med användarupplevelsen i fokus – för alla plattformar!
description: Vi kan hjälpa dig att skapa appar och spel för alla plattformar. Vi skapar även 3D-visualisationer, både för visning i realtid eller som förrenderad grafik.
---

<section class="container-fluid" >
    <div>
    <div class="container">
    <hr class="hr-fat">
    <div class="row mt mb-xs" >
        <div class="col-lg-10 col-lg-offset-1">
            <p>Man kan säga att det idag finns tre olika sorts sätt att bygga en app på, alla med sina för- och nackdelar. Vilket sätt som passar bäst beror på appens användningsområde och innehåll. <a title="Kontakta oss" href="/kontakt/">Kontakta oss</a> så hjälper vi er att ta fram en app just för era behov!</p>
        </div>
    </div>
    </div>
    </div>
    <div class="container">
    
    <div class="row">
        <div class="col-lg-4">
            <h3>Webb-appar</h3>
            <p>Dessa körs direkt i mobiltelefonens webbläsare och är i stort sett en hemsida som fungerar och ser ut som en app. Fördelen med denna typ av app är att de inte behöver anpassas till telefonens operativsystem och användaren behöver heller inte installera den då den helt enkelt nås via en webbadress.
Nackdelen med detta är att den inte fungerar offline och är inte lika snabb och stabil som en ”riktig” native-app. Man kan inte heller distribuera dem via olika marknadsplatser.
Detta är därför en väldigt begränsad typ av app som inte kan utnyttja mobiltelefonernas inbyggda funktioner som kalender, kamera, push-notiser osv.</p>
        </div>
        <div class="col-lg-4">
            <h3>Native-appar</h3>
            <p>Vill man ha en native-app, dvs en app som är speciellt framtagen för mobilens operativsystem, för både Android, iOS och Windows, måste man utveckla unik kod för varje operativsystem, vilket kan vara tidskrävande, och därmed kostsamt. Det finns verktyg som underlättar detta, men i många fall vill man även till viss del anpassa formgivningen av appen för att passa operativsystemet för en bättre användarupplevelse.
Dessa typer av appar ger bättre prestanda och funktionalitet och laddas ned från mobilens marknadsplats, exempelvis Apples App Store och Google Play. Native-appar för internt bruk, t ex säljstöd, måste även de distribueras via godkända licenser. Fördelen med en native-app är att den bara behöver vara uppkopplad första gången, därefter kan den fungera offline. Om man vill uppdatera koden måste man ladda ned en uppdatering till appen via marknadsplatserna. Uppdateringar sker inte automatiskt utan varje kodändring ska först laddas upp, därefter granskas och godkännas av de olika marknadsplatserna. Först därefter får användarna uppdateringen. Denna form av app är mest vanlig bland spel och andra appar vars innehåll inte behöver uppdateras så ofta.</p>
        </div>
        <div class="col-lg-4">
            <h3>Hybrid-appar</h3>
            <p>Hybrid-appar utvecklas delvis specifikt för det operativsystem den körs på, medan andra delar skapas med webbteknik som HTML5 och CSS3. Detta är det bästa av två världar, man får prestandan och funktionaliteten av en stabil native-app kombinerat med uppdaterat webbinnehåll som laddas ned när man är online. Detta gör att man snabbt kan göra uppdateringar av webb-innehållet utan att uppdatera hela appen och därmed behöva vänta på granskning av marknadsplatserna. Man granskas endast första gången, därefter kan man skicka nytt innehåll hur ofta som helst direkt i alla telefoner via CMS-systemet i webbdelen (ändringar i grundkoden kräver dock en ny uppladdning till marknadsplatserna). Självklart kan man även skicka push-notiser, använda kamera, gps och andra funktioner på mobilen, vilket inte är möjligt med en webbapp. Man kan även välja om man vill erbjuda appen på appaffärerna eller endast sprida appen internt. Detta är den absolut vanligaste formen av app idag.</p>
            </div>
        </div>
 
    </div>
</section>
{% include las-vidare.html %}
{% include mini-kontakt.html %}