---
title: Tjänster
permalink: tjanster/
layout: default
header-title: Det här kan vi hjälpa dig med
header-text: Även om vi kallar oss själva för en webbyrå så gör vi så mycket mer än bara <a title="Webbutveckling" href="/tjanster/webbutveckling/">hemsidor</a>. Vi kan hjälpa er med allt från hela er <a title="Webbutveckling" href="/tjanster/webbutveckling/#tillval">webbverksamhet</a> till er grafiska profil, <a title="Appar" href="/tjanster/appar/">mobilappar</a>, <a href="/tjanster/animerad-film/">reklamfilmer</a>, <a href="/tjanster/animerad-film/">animation</a> och 3d-modeller. Allt som har med webben att göra helt enkelt. Fast även tryckproduktioner och mycket annat också.
---

<div class="container mb">
    <hr class="hr-fat">
</div>


<section class="container">

    {% for tjanst in site.data.tjanster %}
    <div class="row mtb-xl" id="{{ tjanst.id }}">
        <div class="col-lg-4">
            <img class="img-responsive center-block" src="/img/tjanster/tjanster_{{ tjanst.bild }}.png" alt="{{ tjanst.titel }}">
        </div>
        <div class="col-lg-8" style="padding: 0 25px !important;">
            <h2>{{ tjanst.titel }}</h2>
            <p class="ll">{{ tjanst.text }}</p>
            {% if tjanst.lasmer %}
                <a title="{{ tjanst.titel }}" href="/tjanster/{{ tjanst.lasmer }}/"><span class="btn">Läs mer <i class="fa fa-chevron-right"></i></span></a>
            {% endif %}
            {% if tjanst.offert %}
                <a title="{{ tjanst.titel }}" href="/offert/{{ tjanst.offert }}/" style="margin-left: 15px;"><span class="btn">Begär offert <i class="fa fa-chevron-right"></i></span></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    
</section>

{% include prislista.html %}
{% include las-vidare.html %}
{% include mini-kontakt.html %}