---
title: Hemsidor och webblösningar
permalink: tjanster/webbutveckling/
layout: default
header-title: Webbutveckling
header-text: Idag är det mer eller mindre ett måste att företag och organisationer har sin egen hemsida för att kunna nå ut till sina kunder. En hemsida kan ha många olika syften men oavsett vilka de är, är det oerhört viktigt att din hemsidas besökare känner att de kommit till en attraktiv och proffsig hemsida. Hemsidan måste vara lätt att använda och kan med fördel vara kopplad till olika sociala nätverk där besökare kan få ytterligare information och uppdateringar. Genom att knyta ett eller flera sociala nätverk till din hemsida kan du öka din datatrafik, hitta nya besökare och bli nåbar på flera plattformar samtidigt. Vi ger dig möjlighet att integrera med kända sociala plattformar som till exempel Twitter, Facebook, Linkedln med flera. På så sätt är det möjligt att exempelvis automatiskt få dina Facebookinlägg synliga på hemsidan.
---

<section class="">
    <div class="container-fluid" style="background-color: #fafafa;">
        <div class="container mtb">
            <div class="col-lg-12">
                <h2>Våra webbpaket</h2>
            </div>


            <div class="col-lg-7">
                <p>Vi tycker inte du ska behöva betala för mer än vad du vill ha. Våra <a title="Våra webbpaket" href="#paket">grundpaket</a> innehåller därför endast de mest grundläggande funktionerna, sedan kan du själv utöka med de <a title="Tillval" href="#tillval">extra funktioner</a> du behöver. Om inget av våra paketförslag eller tillvalen passar dina behov är du självklart även välkommen att <a title="Offertformulär" href="/offertformular/">begära en offert</a>. Inget projekt är för litet och nästan inget för stort. Vi kan fixa fram mer än det som listas här, så ring eller skicka iväg ett <a title="Kontakta oss" href="/kontakta-oss/">meddelande</a> och berätta för oss om dina planer. Vi anpassar oss efter dina behov och tar fram en specialanpassad lösning just för dig!</p>
            </div>

            <div class="col-lg-5">
                <p class="mb-xs">För alla webbproduktioner vi skapar ingår självklart:</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check" style="color:#b41e78"></i> Support via telefon, e-post &amp; chatt under produktionstiden</li>
                    <li><i class="fa fa-check" style="color:#b41e78"></i> Kostnadsfri regelbunden backup</li>
                    <li><i class="fa fa-check" style="color:#b41e78"></i> Responsiv design
                        <wbr>(mobil­anpassad)</li>
                </ul>
                <p>Vi erbjuder dessutom specialpriser för föreningar.</p>
            </div>
        </div>
    </div>


<!-- landningssida -->
    <div class="container mt">
        <div class="col-lg-12">
            <h2 class="title-h">Landningssida</h2>
        </div>

        <div class="col-lg-7">
            <p class="subtitle mb-sm">En enda unikt designad sida – för kampanjer eller mindre företag</p>
            <p>En landningssida är en unikt utformad hemsida som oftast består av endast en enda sida. Det kan vara för en kampanj, en ny vara eller tjänst, ett erbjudande, eller helt enkelt era kontaktuppgifter, öppettider och andra grundläggande uppgifter om ni känner att ni inte behöver en större webbplats.</p>
            <p>För även om du inte känner ett behov av en full webbplats bör alla företag ha åtminstone någon form av internetnärvaro så era kunder ser att ni finns och hur de kan nå er.</p>

            <p><a class="button-hover" href="/offertformular/" data-text="Begär offert"><span class="pris-big">2 995:–</span></a></p>
        </div>
        
        <div class="col-lg-5">
            <p class="mb-xs"><span class="service-desc-title">Enkel sida innehållande:</span></p>

            <ul class="list-unstyled">
                <li><i class="fa fa-check" style="color:#b41e78"></i> Behovsanalys</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> 0 st undersidor</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Grundläggande funktioner</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Specialanpassad design som speglar er grafiska profil</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Responsiv design
                    <wbr>(mobil­anpassad)</li>
            </ul>
        </div>
        
    </div>

<!-- baspaket -->
    <div class="container mt">
        <div class="col-lg-12">
            <h2 class="title-h">Webbsida Bas</h2>
        </div>

        <div class="col-lg-7">
            <p class="subtitle mb-sm">Vår mest prisvärda webbsida – så att du finns där ute</p>
            <p>En bra och stabil grund att stå på för ditt företag. En attraktiv hemsida med grundläggande funktionalitet som vi sedan kan utöka och bygga vidare på om så önskas.</p>

            <p><a class="button-hover" href="/offertformular/" data-text="Begär offert"><span class="pris-big">4 995:–</span></a></p>
        </div>
        
        <div class="col-lg-5">
            <p class="mb-xs"><span class="service-desc-title">Baspaketet innehåller:</span></p>

            <ul class="list-unstyled">
                <li><i class="fa fa-check" style="color:#b41e78"></i> Behovsanalys</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> 5 st undersidor</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Grundläggande funktioner</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Bildspel och galleri</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Kontaktformulär</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Slider</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Responsiv design <wbr>(mobil­anpassad)</li>
            </ul>
        </div>
    </div>
    
<!-- premiumpaket -->
    <div class="container mtb">
        <div class="col-lg-7">
            <h2 class="title-h">Webbsida Premium</h2>
        </div>

        <div class="col-lg-7">
            <p class="mb-sm subtitle">Allt och lite till i webbsideväg – så att du syns bäst</p>
            <p>Innehåller allt från grundpaketet, men med mer avancerade och skräddarsydda funktioner samt unik design baserad på er grafiska profil. Med hjälp av den smidiga adminpanelen kan du uppdatera och ändra innehållet på egen hand – även i mobilen!</p>

            <p><a class="button-hover" href="/offertformular/" data-text="Begär offert"><span class="pris-big">7 995:–</span></a></p>
        </div>
        
        <div class="col-lg-5">
            <p class="mb-xs"><span class="service-desc-title">Med vårt premiumpaket får ni:</span></p>

            <ul class="list-unstyled">
                <li><i class="fa fa-check" style="color:#b41e78"></i> Allt från baspaketet</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Obegränsat antal&nbsp;undersidor</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Specialanpassad design som speglar er grafiska profil</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Smidig adminpanel så ni själva kan underhålla sidan</li>
            </ul>
        </div>
    </div>


    
    <div class="container-fluid" style="background-color: #fafafa;">
        <div class="container mtb">
            <div class="col-lg-12 col-lg-offset-1">
                <h2 class="title-h" style="font-size: 32px;">Serviceavtal hemsida </h2>
            </div>


            <div class="col-lg-5 col-lg-offset-1">
                <p>Vi tar ett helhetsansvar över er hemsida och ser till att den alltid är i drift. Den heltäckande garantin täcker tekniska fel och intrång (hackerattacker).</p>
                <p><span class="pris-big">395:–</span><i> /mån</i></p>
            </div>

            <div class="col-lg-5">
                
                <p class="mb-xs service-desc-title">Vi erbjuder en fullservice-trygghet</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check" style="color:#b41e78"></i> Regelbundna uppdateringar</li>
                    <li><i class="fa fa-check" style="color:#b41e78"></i> Alltid&nbsp;uppdaterat och felfritt</li>
                    <li><i class="fa fa-check" style="color:#b41e78"></i> Daglig&nbsp;backup-säkerhet</li>
                </ul>
                
            </div>
        </div>
    </div>
    
    <div class="container mtb">
        <div class="col-lg-7">
            <h2 class="title-h">Webbshop</h2>
        </div>

        <div class="col-lg-7">
            <p class="mb-sm subtitle">Utöka din webbplats med en komplett nätbutik</p>
            <p>Vill du omvandla din hemsida till en snygg och lättanvänd webbshop? Vi hjälper dig att komma igång med en webbutik byggd på WooCommerce för WordPress. Perfekt både för dig som vill starta, eller redan driver, e-handel. WooCommerce är ett kraftfullt e-handelsplugin till WordPress som förvandlar din hemsida till en komplett nätbutik. Med sin smidiga och användarvänliga kontrollpanel (som du även når i mobilen) passar denna lösning till både företag och privatpersoner, vare sig du säljer 1 eller 1000 produkter. Du får full kontroll över allt i din webbshop och kan enkelt lägga till eller ändra produkter, beställningar och inställningar – helt utan att det krävs några avancerade kunskaper i webbproduktion. Det går även att när som helst utöka eller ändra din butiks funktionalitet med hjälp av tillägg skapade av utvecklare från hela världen.
            </p>

            <p><a class="button-hover" href="/offertformular/" data-text="Begär offert"><em style="font-weight: 300;">Uppstartskostnad från </em><span class="pris-big">11 995:–</span></a></p>
        </div>

        <div class="col-lg-5">
            <p class="mb-xs"><span class="service-desc-title">Webbshop innehållande:</span></p>

            <ul class="list-unstyled">
                <li><i class="fa fa-check" style="color:#b41e78"></i> Användarvänlig kontrollpanel</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Valfri betallösning</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Automatiskt lagersaldo</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Orderadministration och statistik</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Stöd för rabattkuponger, reor och andra kampanjer</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Produktsidor med stöd för flera bilder</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Varianter (färg, storlek, etc.)</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Kundrecensioner</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Flera fraktalternativ</li>
                <li><i class="fa fa-check" style="color:#b41e78"></i> Responsiv design (mobilanpassad)</li>
            </ul>
        </div>
    </div>
    
    <div class="container"><hr class="hr-fat"></div>
    {% include tillval.html %}
    
</section>
{% include las-vidare.html %}
{% include mini-kontakt.html %}