<!-- About Section -->
<section class="container mtb">
    <h2 class="mb-sm">Vad kan vi hjälpa er med?</h2>
    <div class="row">
        <div class="col-md-12 hidden-lg mb-sm">
            <p>Även om vi kallar oss själva för en webbyrå så gör vi så mycket mer än bara hemsidor. Vi kan hjälpa er med allt från hela er webbverksamhet till er grafiska profil, mobilappar, reklamfilmer, animation och 3d-modeller. Allt som har med webben att göra helt enkelt. Fast även tryckproduktioner och mycket annat också.</p>
        </div>
        <div class="col-lg-6">
            <ul class="list-unstyled tjanster-lista">
                <a href="/tjanster/webbutveckling/"><li>Webbsida</li></a>
                <a href="/tjanster/webbshop/"><li>Webbshop</li></a>
                <a href="/tjanster/animerad-film/"><li>Animation och film</li></a>
                <a href="/tjanster#grafisk-design"><li>Grafisk design</li></a>
                <a href="/tjanster/appar/"><li>Appar och spel</li></a>
                <a href="/tjanster#webblosningar"><li>Andra webblösningar</li></a>
            </ul>
        </div>
        <div class="col-lg-6 visible-lg">
            <p>Även om vi kallar oss själva för en webbyrå så gör vi så mycket mer än bara hemsidor. Vi kan hjälpa er med allt från hela er webbverksamhet till er grafiska profil, mobilappar, reklamfilmer, animation och 3d-modeller. Allt som har med webben att göra helt enkelt. Fast även tryckproduktioner och mycket annat också.</p>
        </div>
 
    </div>
</section>
