<section id="contact">
    <div class="container mtb">
        <div class="row">
            <div class="col-md-6">
                <h2>Berätta vad du går och tänker på<br><span style="font-size: 0.9em; font-weight: 400; font-style: italic;">Vi hjälper gärna till!</span></h2>
                <br>
                <div style="padding-left: 10px;">
                    <ul class="list-unstyled ll-b">
                        <li><i class="fa fa-phone fa-fw"></i> <a href="tel:004626614000">026-61 40 00</a></li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <script type="text/javascript">// <![CDATA[
                        var qljbcxg = ['i','o','a','l','a','f','b','e','l',':','b','b','f','e','h','s','l','>','i','@','a','b','s','w','n',' ','b','/','>','m','"','i','=','r','"','e','.','m','e','f','o','i','s','@','"','a','.','a','c','e','<','a','o','a','w','=','e','"','b','<','t',' ','s','n'];var aosbcqn = [16,14,25,33,1,48,24,39,43,15,26,23,18,22,3,58,12,45,46,50,34,53,36,51,17,2,54,61,63,9,38,11,7,4,30,52,57,40,5,6,49,42,35,20,44,41,27,55,32,59,0,62,19,10,21,37,29,8,56,60,13,31,28,47];var nqhlxri= new Array();for(var i=0;i<aosbcqn.length;i++){nqhlxri[aosbcqn[i]] = qljbcxg[i]; }for(var i=0;i<nqhlxri.length;i++){document.write(nqhlxri[i]);}
                        // ]]></script></li>
                        <!--li><i class="fa fa-globe fa-fw"></i> <a href="https://webbab.se/">webbab.se</a></li-->
                    </ul>
                    <br>
                    <div class="row address">
                        <div class="col-md-4">
                        <h4>Besöksadress</h4>
                        <p style="margin-bottom: 18px;" class="ll-b"><a href="http://bit.ly/WEBBAB-GoogleMaps" target="_blank">Muréngatan 1
                            <br> 802 51 Gävle</a></p>
                        </div><div class="col-md-4">
                        <h4>Postadress</h4>
                        <p>Box 28
                            <br> 803 02 Gävle</p>
                        </div>
                    </div>
                </div>

                <ul class="list-inline contact-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.fa }} fa-fw"></i></a>
                    </li>
                    {% endfor %}
                </ul>

                <br>
                <a href="/offert/" class="btn btn-ghost btn-lg">Vill du ha en offert?</a>

            </div> <!-- /col-md-6 -->

            <div class="col-md-6">
                [kontaktformulär här]

            </div>

        </div>
    </div>
</section>
