    <!-- Footer -->
    <footer>
        <div class="container footer">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    öppettider
                </div>
                <div class="col-md-3 col-sm-6">
                    adress
                </div>
                <div class="col-md-3 col-sm-6">
                    social
                </div>
                <div class="col-md-3 col-sm-6">
                    medlem i
                </div>
            </div>
        </div>
        <div class="container text-center copyright">
            <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
        </div>
    </footer>
