    <!-- Footer -->
    <footer>
        <div class="container footer">
            <div class="row">
                
                <div class="col-md-6 col-sm-12">
                    
                <div class="col-md-6 col-sm-6"><!-- öppettider -->
                    <i class="fa fa-clock-o fa-fw"></i> <h4>Öppettider</h4>
                    <p>Vardagar: 08:00–17:00</p>
                    <br>
                    <p><i class="fa fa-phone fa-fw"></i> <a href="tel:004626614000">026-61 40 00</a></p>
                    <p><i class="fa fa-envelope fa-fw"></i> <script type="text/javascript">// <![CDATA[
                    var qljbcxg = ['i','o','a','l','a','f','b','e','l',':','b','b','f','e','h','s','l','>','i','@','a','b','s','w','n',' ','b','/','>','m','"','i','=','r','"','e','.','m','e','f','o','i','s','@','"','a','.','a','c','e','<','a','o','a','w','=','e','"','b','<','t',' ','s','n'];var aosbcqn = [16,14,25,33,1,48,24,39,43,15,26,23,18,22,3,58,12,45,46,50,34,53,36,51,17,2,54,61,63,9,38,11,7,4,30,52,57,40,5,6,49,42,35,20,44,41,27,55,32,59,0,62,19,10,21,37,29,8,56,60,13,31,28,47];var nqhlxri= new Array();for(var i=0;i<aosbcqn.length;i++){nqhlxri[aosbcqn[i]] = qljbcxg[i]; }for(var i=0;i<nqhlxri.length;i++){document.write(nqhlxri[i]);}
                    // ]]></script></p>
                    <p><i class="fa fa-globe fa-fw"></i> <a href="https://webbab.se/">webbab.se</a></p>
                </div>
                <div class="visible-xs space"></div>
                
                <div class="col-md-6 col-sm-6 address"><!-- adress -->
                    <i class="fa fa-map-marker fa-fw"></i> <h4>Besöksadress</h4>
                    <p style="margin-bottom: 18px;">Vändkretsen 55, 802 75 Gävle</p>
                    
                    <i class="fa fa-gift fa-fw"></i> <h4>Postadress</h4>
                    <p>Box 28, 803 02 Gävle</p>
                    <br>
                    <!--Org.nr. <a href="http://www.allabolag.se/9697707165/Heimer_Lindberg_HB" target="_blank">969770-7165</a>-->
                    <p>Godkänd för F-skatt</p>
                    <div class="visible-sm space"></div>
                </div>
                <div class="visible-xs space"></div>
                    
                </div>
                <div class="col-md-6 col-sm-12">
                    
                <div class="col-md-6 col-sm-6"><!-- social -->
                    <ul class="list-unstyled footer-social-buttons">
                        {% for network in site.social %}
                        <li>
                            <i class="fa fa-{{ network.fa }} fa-fw"></i> <a href="{{ network.url }}" target="_blank"><span class="network-name">{{ network.title }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="visible-xs space"></div>
                    
                <div class="col-md-6 col-sm-6">
                    <h4>Medlem i</h4>
                    <ul class="list-unstyled">
                        <li><img src="/img/footer/yeos.png" alt="YEoS" style="margin: 5px 0; height: 35px;"></li>
                        <li><img src="/img/footer/foretagarna.png" alt="Företagarna" style="margin: 5px 0; height: 30px;"></li>
                        <li><img src="/img/footer/effectplus.png" alt="effect+" style="margin: 5px 0; height: 30px;"></li>
                    </ul>
                </div>
                    
                </div>
                
            </div>
        </div>
        <div class="container text-center copyright">
            <p>&copy; 20{{ site.time | date: '%y' }} {{ site.footer }}</p>
        </div>
    </footer>
