<div class="container mt">
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="tiny-caps" style="margin-left: 10px;">Läs vidare</h3>
            <ul class="list-unstyled list-readmore ll-b">
                <li><i class="fa fa-angle-right"></i><a href="/faq/">Vanliga frågor</a></li>
                <li><i class="fa fa-angle-right"></i><a href="/fran-bestallning-till-fardig-hemsida/">Hur vi arbetar</a></li>
                <li><i class="fa fa-angle-right"></i><a href="/kontakt/">Kontakta oss</a></li>
            </ul>
        </div>
    </div>
</div>