
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <!--<i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap-->
                    <img src="/img/webbab-logo.png" alt="WEBBAB" class="site-logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--li>
                        <a class="page-scroll" href="/">Start</a>
                    </li-->
                    <li>
                        <a class="page-scroll" href="/om-oss/">Om oss</a>
                    </li>
                    
                    <li class="dropdown hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tjänster <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/tjanster/">Vad vi gör</a></li>
                            <li><a href="/tjanster/webbutveckling/">Webbtjänster</a></li>
                            <li><a href="/tjanster/webbshop/">Webbshop</a></li>
                            <li><a href="/tjanster/tillval/">Tillval</a></li>
                            <li><a href="/tjanster/animerad-film/">Animerad film</a></li>
                            <li><a href="/tjanster/appar/">Appar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown open visible-xs">
                        <a>Tjänster <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/tjanster/">Vad vi gör</a></li>
                            <li><a href="/tjanster/">Webbtjänster</a></li>
                            <li><a href="/tjanster/">Webbshop</a></li>
                            <li><a href="/tjanster/">Tillval</a></li>
                            <li><a href="/tjanster/">Animerad film</a></li>
                            <li><a href="/tjanster/">Appar</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="/portfolio/">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/kontakt/">Kontakt</a>
                    </li>

                    <!--
                    <li class="dropdown hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/medarbetare/">Medarbetare</a></li>
                          <li><a href="/fran-bestallning-till-fardig-hemsida/">Från beställning till färdig hemsida</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">Nav header</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown open visible-xs">
                        <a>Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">Nav header</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    -->

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
