 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-absolute navbar-fixed" role="navigation">
        
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img src="/img/webbab-logo.png" alt="Webbyrån WEBBAB" class="logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/tjanster/">Tjänster</a>
                    </li>
                    <li>
                        <a href="/portfolio/">Portfolio</a>
                    </li>
                    <li>
                        <a href="/blogg/">Blogg</a>
                    </li>
                    <li>
                        <a href="/kontakt/">Kontakt</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->

    </nav>


<style>
    .nav li a {
        font-style: italic;
        font-weight: 700 !important;
        text-transform: none;
        font-size: 18px;
    }
    
    .logo{
        max-height: 50px;
    }
    @media (max-width: 766px){
        .logo {
            max-height: 35px;
        }
    }
</style>