<a class="page-scroll" href="/"><img src="/img/webbab-logo-pink.png" alt="WEBBAB" class="site-logo logo-normal"></a>
<a class="page-scroll" href="/"><img src="/img/webbab-logo.png" alt="WEBBAB" class="site-logo logo-white hide" style="z-index: 9999;"></a>
<!--a class="page-scroll" href="/"><div class="logo-hitbox"></div></a-->

<div class="menu-collapsed">
    <!--div class="nav-bg"></div-->
    <div class="nav_colored">
        <div class="bar"></div>
    </div>
    <div class="nav-toggle"></div>
    <nav>
        <ul class="list-unstyled nav-list">
            <li><a href="/">Start</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/tjanster/">Tjänster</a></li>
            <li><a href="/om-oss/">Om oss</a></li>
            <li><a href="/kontakt/">Kontakt</a></li>
        </ul>
    </nav>
</div>

<script>
// toggle menu när man klickar på ikonen
$(".menu-collapsed").click(function() {
  $(this).toggleClass("menu-expanded");
  $('.logo-white').toggleClass("hide");
});

// toggle menu när man trycker esc
$(document).keyup(function(e) {
     if (e.keyCode == 27) {
        $(".menu-collapsed").toggleClass("menu-expanded");
        $('.logo-white').toggleClass("hide");
    }
});

// byt färg på navicon
$(document).on('scroll',function(){
    if($(document).scrollTop()<=$('.nav-turn-normal').offset().top){
        $('.nav_colored').removeClass('nav_colored').addClass('nav_white');
    }
    else{
        $('.nav_white').removeClass('nav_white').addClass('nav_colored');
    }
});
</script>
