<img src="/img/webbab-logo-pink.png" alt="WEBBAB" class="site-logo">
<div class="menu-collapsed">
    <div class="bar"></div>
    <nav>
      <ul class="list-unstyled nav-list">
        <li><a href="/">Start</a></li>
        <li><a href="/om-oss/">Om oss</a></li>
        <li><a href="/tjanster/">Tjänster</a></li>
        <li><a href="/kontakt/">Kontakt</a></li>
      </ul>
    </nav>  
</div>

<script>
$(".menu-collapsed").click(function() {
  $(this).toggleClass("menu-expanded");
});
</script>


<style>
.site-logo {
    position: fixed;
    left: 0;
    top: 0;
    margin: 35px;
}
    
.nav-list {
    margin-top: 100px;
    text-transform: uppercase;
    text-align: center;
}
.nav-list li {
    font-size: 100px;
    line-height: 150px;
}
.nav-list li a {
    width: 100%;
    display: block;
    font-weight: 700;
}
.menu-collapsed {
  text-align: center;
  transition: all .25s;
  position: fixed;
  top: 0;
  height: 0%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
}
.menu-expanded {
  text-align: center;
  transition: all .25s;
  line-height: 200px;
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 0px;
  top: 0;
  background-color: rgba(150,0,80,0.90);
  z-index: 1000;
}

.menu-collapsed ul {
  text-align: center;
  transition: all .05s;
  position: fixed;
  top: -9000px;
  width: 100%;
}
    
.menu-expanded ul {
  text-align: center;
  transition: all .05s;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-list a {
  transition: all .15s;
  text-decoration: none;
  color: white;
  padding: 5px;
  width: 100%;
}
.nav-list a:hover {
  transition: all .15s;
  letter-spacing: 2px;
  background-color: {{ site.color.primary }};
}


    
.bar {
  position: fixed;
  right: 0;
  top: 0;
  margin: 45px;
  height: 6px;
  width: 30px;
  border-radius: 2px;
  background-color: {{ site.color.primary }};
}
.bar:before {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  height: 6px;
  width: 30px;
  border-radius: 2px;
  background-color: {{ site.color.primary }};
}
.bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  height: 6px;
  width: 30px;
  border-radius: 2px;
  background-color: {{ site.color.primary }};
}
    
.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}
.menu-expanded .bar:before {
  transition: all .25s;
  content: "";
  transform: rotate(45deg);
  top: -0px;
  background-color: rgba(255, 255, 255, 1);
}
.menu-expanded .bar:after {
  transition: all .25s;
  content: "";
  transform: rotate(-45deg);
  top: 0px;
  background-color: rgba(255, 255, 255, 1);
}


</style>