<section id="prislista" class="container mtb">
  <div class="row">
    <div class="col-md-12">
      <h2>Priser</h2>
      <div class="table-responsive">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Normalt ärende <small>Inom avtalad tid</small></th>
              <th>Normalt ärende <small>Utanför avtalad tid</small></th>

              <th>Akut ärende <small>Inom avtalad tid</small></th>
              <th>Akut ärende <small>Utanför avtalad tid</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tid på dygnet</td>
              <td>08:00 - 17:00</td>
              <td>När som helst</td>

              <td>08:00 - 17:00</td>
              <td>Utanför kontorstid</td>
            </tr>
            <tr>
              <td>Ärendet registreras och tilldelas</td>
              <td>4 - 12 h</td>
              <td>Vid första lucka</td>

              <td>Omgående</td>
              <td>1 - 2 h</td>
            </tr>
            <tr>
              <td>Åtgärd påbörjad</td>
              <td>24 - 48 h</td>
              <td>Vid första lucka</td>

              <td>Omgående</td>
              <td>2 - 4 h</td>
            </tr>
            <tr>
              <td>Kostnad (ex. moms)</td>
              <td>900 kr/h</td>
              <td>900 kr/h</td>

              <td>1450 kr/h</td>
              <td>2100 kr/h</td>
            </tr>
            <tr>
              <td>Tid mäts</td>
              <td>Per påbörjad kvart</td>
              <td>Per påbörjad kvart</td>
              <td>Per påbörjad kvart</td>
              <td>Per påbörjad kvart</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table -->
    </div>
  </div>




<div class="container">

<div class="row">
  <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="row"><h4>&nbsp;<small>&nbsp;</small></h4></div>
      <div class="row">
      <p>Tid på dygnet </p>
      <p>Ärendet registreras </p>
      <p>Åtgärd påbörjad </p>
      <p>Kostnad (ex. moms)</p>
      <p>Tid mäts</p>
    </div>
  </div>
<div class="col-md-2 hidden-sm hidden-xs">
    <div class="row"><h4>&nbsp;<small>&nbsp;</small></h4></div>
    <div class="row">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <div class="row"><h4>Normalt ärende <small>Inom avtalad tid</small></h4></div>
    <div class="row">
      <p>08:00 - 17:00</p>
      <p>4 - 12 h</p>
      <p>24 - 48 h</p>
      <p>900 kr/h</p>
      <p>Per påbörjad kvart</p>
    </div>
</div>
    
<!-- xs -->
<div class="col-xs-12 visible-xs mt-sm"></div>
<div class="col-xs-6 visible-xs">
    <div class="row"><h4>&nbsp;<small>&nbsp;</small></h4></div>
    <div class="row">
    <p>Tid på dygnet </p>
    <p>Ärendet registreras </p>
    <p>Åtgärd påbörjad </p>
    <p>Kostnad (ex. moms)</p>
    <p>Tid mäts</p>
    </div>
</div>
<!-- /xs -->
    
  <div class="col-md-2 col-sm-4 col-xs-6">
    <div class="row"><h4>Normalt ärende <small>Utanför avtalad tid</small></h4></div>
    <div class="row">
        <p>När som helst</p>
        <p>Vid första lucka</p>
        <p>Vid första lucka</p>
        <p>900 kr/h</p>
        <p>Per påbörjad kvart</p>
    </div>
  </div>

<!-- sm & xs -->
<div class="col-sm-12 visible-sm col-xs-12 visible-xs mt-sm"></div>
<div class="col-sm-4 visible-sm col-xs-6 visible-xs">
    <div class="row"><h4>&nbsp;<small>&nbsp;</small></h4></div>
    <div class="row">
    <p>Tid på dygnet </p>
    <p>Ärendet registreras </p>
    <p>Åtgärd påbörjad </p>
    <p>Kostnad (ex. moms)</p>
    <p>Tid mäts</p>
    </div>
</div>
<!-- /sm & xs -->

  <div class="col-md-2 col-sm-4 col-xs-6">
    <div class="row"><h4>Akut ärende <small>Inom avtalad tid </small></h4></div>
    <div class="row">
        <p>08:00 - 17:00</p>
        <p>Omgående</p>
        <p>Omgående</p>
        <p>1450 kr/h</p>
        <p>Per påbörjad kvart</p>
    </div>
  </div>
    
<!-- xs -->
<div class="col-xs-12 visible-xs mt-sm"></div>
<div class="col-xs-6 visible-xs">
    <div class="row"><h4>&nbsp;<small>&nbsp;</small></h4></div>
    <div class="row">
    <p>Tid på dygnet </p>
    <p>Ärendet registreras </p>
    <p>Åtgärd påbörjad </p>
    <p>Kostnad (ex. moms)</p>
    <p>Tid mäts</p>
    </div>
</div>
<!-- /xs -->
    
  <div class="col-md-2 col-sm-4 col-xs-6">
    <div class="row"><h4>Akut ärende <small>Utanför avtalad tid</small></h4></div>
    <div class="row">
        <p>Utanför kontorstid</p>
        <p>1 - 2 h</p>
        <p>2 - 4 h</p>
        <p>2100 kr/h</p>
        <p>Per påbörjad kvart</p>
    </div>
  </div>
</div>
    
</div>
    

</section>