<section class="container mtb hidden-xs">
    <div class="row">
        <div class="col-lg-12">
            <h2>Referenser</h2>
            <p>Några av alla de företag vi hjälpt genom åren</p>
            {% for referens in site.data.referenser.referenser %}
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <img src="/img/referenser/reflogo-{{ referens }}.png" alt="{{ referens }}" class="img-responsive">
            </div>
            {% endfor %}
        </div>
    </div>
</section>