/*** grund grejer ***/

body {
    width: 100%;
    height: 100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #444;
    background-color: #f7f7f7;
    font-weight:300;
    text-rendering: optimizeLegibility;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

@media(min-width:767px) {
    h1 {
        font-size: 48px;
    }
}

.bold-caps {
    text-transform: uppercase;
    font-weight: 900;
    color: #333;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.6;
    }
}

a {
    color: {{ site.color.links }};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}

ul li {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
ul li i {
    padding-right: 4px;
}

/*** general misc ***/
.space {
    height: 30px;
}

.mtb {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mb {
	margin-bottom: 60px;
}

.mt {
	margin-top: 60px;
}

.list li {
    font-size: 16px;
    font-weight: 400;
}

.list-pl {
    padding-left: 15px;
}

/*** nav ***/

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: {{ site.color.primary }};
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

button.navbar-toggle{
    color: #fff !important;
    font-size: 16px;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background-color: {{ site.color.primary }};
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: {{ site.color.primary }};
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    
    .navbar-custom .nav li a {
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }
    
    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus,
    .navbar-custom .nav li a.active {
        background-color: transparent;
        /*border-bottom: 2px solid #fff;
        transform:translateY(-5px);*/
        color: rgba(255,255,255,.5);
    }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: {{ site.color.primary }};
    cursor: pointer;
}


/*** footer ***/

footer {
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    padding: 50px 0;
    background-color: {{ site.color.primary-dark }};
    color: #bbb;
}

footer a {
    color: #bbb;
}
footer a:hover, footer a:active {
    /*border-bottom: 1px solid {{ site.color.primary }};
    box-shadow: inset 0 -3px 0 {{ site.color.primary }};*/
    color: {{ site.color.primary }};
}

footer p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

footer .address i {
    font-size: 16px;
}
footer h4 {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
}

ul.footer-social-buttons {
    margin-top: 0;
}

ul.footer-social-buttons li {
    margin-bottom: 10px;
    font-size: 16px !important;
}

.network-name {
    font-weight: 400;
}

@media(max-width:1199px) {
    ul.footer-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.footer-social-buttons li {
        display: block;
        margin-bottom: 10px;
        padding: 0;
    }

    ul.footer-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

.footer {
    padding-bottom: 50px;
}

.copyright p{
    font-size: 16px;
    font-weight: 300;
}


/***************/

.medarbetare {
    background-color: {{ site.color.secondary-light }};
}

.medarbetare h4 {
    margin: 20px 0 0px;
}

.medarbetare h4,
.medarbetare p,
.medarbetare ul {
    padding: 0 20px;
}

.medarbetare p {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #888;
}

.medarbetare li {
    line-height: 24px;
    font-weight: 400;
}

p.medarbetare-titel {
    color: {{ site.color.primary }};
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}


/*** contact ***/

#contact ul {
    font-size: 18px;
    line-height: 30px;
}

.contact-social-buttons li {
    font-size: 36px;
    color: {{ site.color.primary-dark }};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.contact-social-buttons li:hover {
    transform: translateY(-5px);
    color: {{ site.color.primary }};
}
.contact-social-buttons a {
    color: {{ site.color.primary-dark }};
}
.contact-social-buttons a:hover {
    color: {{ site.color.primary }};
}

#contact .address h4 {
    font-weight: 700;
    margin-bottom: 0;
}


/***** buttons & links *****/

.ll a {     /* line link */
    color: {{ site.color.links }};
}
.ll-b a {
    color: #444;
}
.ll a:hover, .ll a:active,
.ll-b a:hover, .ll-b a:active {
    border-bottom: 1px solid {{ site.color.links }};
    box-shadow: inset 0 -3px 0 {{ site.color.links }};
    color: {{ site.color.links }};
}






.btn {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid {{ site.color.links }};
    color: {{ site.color.links }};
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid {{ site.color.links }};
    outline: 0;
    color: {{ site.color.primary-dark }};
    background-color: {{ site.color.links }};
}

.btn-ghost {
    border: 2px solid {{ site.color.links }};
    color: {{ site.color.links }};
    background-color: transparent;
}

.btn-ghost:hover,
.btn-ghost:focus {
    border: 2px solid {{ site.color.links }};
    outline: 0;
    color: {{ site.color.primary-light }};
    background-color: {{ site.color.links }};
}









/*** intro ***/

@media(min-width:767px) {
    .intro-text {  /* den lilla till höger */
        font-size: 22px;
    }
}




.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: {{ site.color.primary }};
    <!--background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;-->
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    font-weight: 900;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}




.content-section {
    padding-top: 100px;
}

.default-header {
    padding-top: 100px;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 200px;
    }
    .default-header {
        padding-top: 200px;
    }
    #map {
        height: 400px;
        margin-top: 0px;
    }
}


::-moz-selection {
    text-shadow: none;
    background: {{ site.color.primary }};
}

::selection {
    text-shadow: none;
    background: {{ site.color.primary }};
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}




/*****PORTFOLIO*******/

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(254,209,54,.9); /* Fallback when no plugin support */
    background: rgba({{ site.color.primary | hex_to_rgb | join: ',' }}, .9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/** modals **/


.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*** /PORTFOLIO ***/


/*** misc custom junk ***/
.arrow-line-f {
	position: relative;
	background: #fff;
}
.arrow-line-f:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}
.arrow-line-f7 {
	position: relative;
	background: #f7f7f7;
}
.arrow-line-f7:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #f7f7f7;
	border-width: 30px;
	margin-left: -30px;
}

.list-nr {
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #b41e78;
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}
