

body {
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    color: #444;
    background-color: #efefef;
    font-weight:300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #333;
}

h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}

h3, h4 {
    font-weight: 700;
}

h4 {
    line-height: 22px;
}

@media(max-width:767px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}

.bold-caps {
    text-transform: uppercase;
    font-weight: 900;
    color: #333;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.6;
    }
}

.ingress {
    font-weight: 400;
    font-size: 20px;
    color: #333;
}

a {
    color: {{ site.color.links }};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: {{ site.color.links }};
}

.light {
    font-weight: 400;
}

ul li {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
ul li i {
    padding-right: 4px;
}


.tiny-caps {
    font-size: 14px; 
    font-weight: 400; 
    text-transform: uppercase; 
    letter-spacing: 0.12em;
}


/*** general misc ***/
.space {
    height: 30px;
}

.ct{
    text-align: center;
}

.mtb {
	margin-top: 80px;
	margin-bottom: 80px;
}
.mtb-lg {
	margin-top: 100px;
	margin-bottom: 100px;
}
.mtb-xl {
	margin-top: 125px;
	margin-bottom: 125px;
}
.mtb-sm {
	margin-top: 50px;
	margin-bottom: 50px;
}
.mb {
	margin-bottom: 60px;
}
.mt {
	margin-top: 60px;
}
.mt-md{
    margin-top: 40px;
}
.mt-sm{
    margin-top: 20px;
}
.mb-md{
    margin-bottom: 30px !important;
}
.mb-sm{
    margin-bottom: 20px !important;
}
.mb-xs{
    margin-bottom: 10px !important;
}
.mb-0{
    margin-bottom: 0 !important;
}

@media (max-width: 767px){
    .mtb {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .mb { margin-bottom: 40px; }
    .mt { margin-top: 40px; }
}

.inline {
display: inline;
}

.list li {
    font-size: 16px;
    font-weight: 400;
}

.list-pl {
    padding-left: 15px;
}

.primary-color, .c-1 {
    color: {{ site.color.primary }};
}
.primary-color-bg {
    background-color: {{ site.color.primary }};
    color: #f7f7f7;
}
.white-bg {
    background-color: #fff;
}

.bordered {
    border: 3px solid #666;
    padding: 25px 20px;
}


.t14px {
    font-size: 14px;
}

.h-italic {
    font-style: italic;
    font-weight: 700;
}

/*** nav ***/

.nav-bg {
    background-color: #efefef;
    position: fixed;
    top: 0;
    right: 0;
    width: 46px;
    height: 40px;
    margin: 28px 36px;
    border-radius: 2px;
}

.nav-toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 45px;
    margin: 25px 30px;
}
    
.site-logo {
    margin: 35px;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
}
    
@media (max-width: 1550px){
    .logo-normal{
        position: absolute;
        left: 0;
        top: 0;
    }
}
@media (max-width: 767px){
    .logo-normal{
        position: relative;
        left: 0;
        top: 0;
    }
}

.nav-list {
    margin-top: 150px;    
}
.nav-list li {
    font-size: 100px;
    line-height: 1.2em;
    /*text-align: left;*/
    border-left: 2px solid #fff;
    padding-left: 30px;
}

@media (max-width: 767px) {
    .nav-list li {
        font-size: 48px;
    }
}
@media (max-width: 400px) {
    .nav-list li {
        font-size: 28px;
    }
}
@media (max-height: 820px) {
    .nav-list li {
        font-size: 72px;
    }
}
@media (max-height: 620px) {
    .nav-list li {
        font-size: 42px;
    }
}
@media (max-height: 450px) {
    .nav-list li {
        font-size: 28px;
    }
    .nav-list {
        margin-top: 100px;
    }
}
.nav-list li a {
    width: 100%;
    display: block;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.9);
    /*padding-left: 10%;*/
}
.menu-collapsed {
    transition: all .25s;
    position: fixed;
    top: 0;
    height: 0%;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    z-index: 1000;
}
.menu-expanded {
    text-align: center;
    transition: all .25s;
    line-height: 200px;
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 0px;
    top: 0;
    background-color: rgba(150, 0, 80, 1);
    z-index: 1000;
}
.menu-collapsed ul {
    transition: all .05s;
    position: fixed;
    top: -9000px;
    width: 100%;
}
.menu-expanded ul {
    text-align: left;
    padding-left: 15%;
    transition: all .05s;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-list a {
    transition: all .15s;
    text-decoration: none;
    color: #222;
    padding: 5px;
    width: 100%;
    letter-spacing: 0.01em;
}
.nav-list a:hover {
    transition: all .15s;
    /*letter-spacing: 2px;*/
    color: {{ site.color.secondary }};
    padding-left: 30px;
}/*
.nav-list li:hover {
  background-color: rgba(255,255,255,0.05);
}*/


    
.bar {
  transition: all .25s;
  position: fixed;
  right: 0;
  top: 0;
  margin: 45px;
  height: 6px;
  width: 30px;
  border-radius: 2px;
  background-color: {{ site.color.primary }};
}
.bar:before {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  height: 6px;
  width: 30px;
  border-radius: 2px;
  background-color: {{ site.color.primary }};
}
.bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  height: 6px;
  width: 30px;
  border-radius: 2px;
  background-color: {{ site.color.primary }};
}

@media (max-width: 767px){
    .bar {
        margin: 30px;
    }
    .bar, .bar:before, .bar:after {
      height: 4px;
      width: 20px;
    }
    .bar:before {
        top: -6px;
    }
    .bar:after {
        top: 6px;
    }
    .nav-toggle {
        position: fixed;
        top: 0;
        right: 0;
        width: 40px;
        height: 30px;
        margin: 16px 20px;
    }
}

.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}
.menu-expanded .bar:before {
  transition: all .25s;
  content: "";
  transform: rotate(45deg);
  top: -0px;
  background-color: rgba(255, 255, 255, 1);
}
.menu-expanded .bar:after {
  transition: all .25s;
  content: "";
  transform: rotate(-45deg);
  top: 0px;
  background-color: rgba(255, 255, 255, 1);
}

.menu-collapsed .nav_white .bar,
.menu-collapsed .nav_white .bar:before,
.menu-collapsed .nav_white .bar:after {
    background-color: #fff;
}
.menu-collapsed .nav_colored bar,
.menu-collapsed .nav_colored bar:before,
.menu-collapsed .nav_colored bar:after {
    background-color: {{ site.color.primary }};
}

.menu-expanded .nav_colored .bar,
.menu-expanded .nav_white .bar{
    background-color: transparent;
}

.z9999{
z-index: 9999 !important;
}
.z-1{
z-index: -1 !important;
}

/***nav old**/
@media(min-width:767px) {
    .navbar-absolute { position: absolute; width: 100%; }
}
    
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: {{ site.color.primary }};
    border-radius: 0;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

button.navbar-toggle{
    color: #fff !important;
    font-size: 18px;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    font-weight: 300;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}
/*
.site-logo {
    height: 50px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 9997;
}*/
.logo-hitbox {
    height: 50px;
    width: 162px;
    margin: 35px;
    position: fixed;
    z-index: 9999;
}

.top-nav-collapse .site-logo {
    height: 25px;
}

.navbar-brand {
    padding: 0;
}

.top-nav-collapse .navbar-brand {
    padding: 15px;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background-color: {{ site.color.primary }};
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: {{ site.color.primary }};
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    
    .navbar-custom .nav li a {
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }
    
    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus,
    .navbar-custom .nav li a.active {
        background-color: transparent;
        /*border-bottom: 2px solid #fff;
        transform:translateY(-5px);*/
        color: rgba(255,255,255,.5);
    }
}
@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
    }
    .site-logo, .top-nav-collapse .site-logo {
        height: 30px;
    }
    .navbar-brand, .top-nav-collapse .navbar-brand {
        padding: 15px;
    }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: {{ site.color.primary }};
    cursor: pointer;
    color: #fff;
}

.dropdown-menu {
    background-color: {{ site.color.primary }};
    border: none;
    color: #fff;
}
.dropdown-menu li a {
    color: #fff;
    font-weight: 300;
}


/*** footer ***/

footer {
    /*position: fixed; bottom: 0; left: 0;*/
    
    padding: 50px 0;
    background-color: {{ site.color.primary-dark }};
    color: #eee;
}

footer a {
    color: #eee;
}
footer a:hover, footer a:active {
    /*border-bottom: 1px solid {{ site.color.primary }};
    box-shadow: inset 0 -3px 0 {{ site.color.primary }};*/
    color: {{ site.color.primary }};
}

footer p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

footer .fa {
    font-size: 16px;
}
footer h4 {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    color: #bbb;
    line-height: 18px;
    margin-bottom: 5px;
}

ul.footer-social-buttons {
    margin-top: 0;
}

ul.footer-contact li {
    padding-bottom: 4px;
}

ul.footer-social-buttons li {
    margin-bottom: 8px;
    font-size: 16px !important;
}

.network-name {
    font-weight: 400;
}

@media(max-width:1199px) {
    ul.footer-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    footer {
        /*text-align: center;*/
    }
    footer img {
        max-height: 30px;
    }
    
    ul.footer-social-buttons li {
        display: block;
        margin-bottom: 10px;
        padding: 0;
    }

    ul.footer-social-buttons li:last-child {
        margin-bottom: 0;
    }
}
@media(max-width:450px) {
    footer img {
        max-width: 90%;
        height: auto !important;
    }
}

.footer {
    padding-bottom: 50px;
}

.copyright p{
    font-size: 16px;
    font-weight: 300;
}


/***************/

.medarbetare {
    background-color: {{ site.color.primary-light }};
}

.medarbetare h4 {
    margin: 20px 0 0px;
    font-weight: 700;
}

.medarbetare h4,
.medarbetare p,
.medarbetare ul {
    padding: 0 20px;
}

.medarbetare p {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 300;
    color: #888;
}

.medarbetare li {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}

p.medarbetare-titel {
    color: {{ site.color.primary }};
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
}


/*** contact ***/


#contact ul li{
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 300;
}
@media (max-width: 766px){
    #contact ul li{
        font-size: 18px;
    }
}

.contact-social-buttons li {
    font-size: 32px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.contact-social-buttons li:hover {
    /*transform: translateY(-5px);*/
    color: {{ site.color.primary }};
}
.contact-social-buttons a {
    color: #888;
    font-size: 32px;
}
.contact-social-buttons a:hover {
    color: {{ site.color.primary }};
}

#contact .address h4 {
    font-weight: 700;
    margin-bottom: 0;
}


/***** buttons & links *****/

.ll a {     /* line link */
    color: {{ site.color.links }};
}
.ll-b a {
    color: #444;
}
.ll-w a {
    color: {{ site.color.secondary }};
}
.ll a:hover, .ll a:active,
.ll-b a:hover, .ll-b a:active {
    border-bottom: 1px solid {{ site.color.links }};
    box-shadow: inset 0 -3px 0 {{ site.color.links }};
    color: {{ site.color.links }};
}
.ll-w a:hover, .ll-w a:active {
    border-bottom: 1px solid {{ site.color.secondary }};
    box-shadow: inset 0 -3px 0 {{ site.color.secondary }};
    color: {{ site.color.secondary }};
}

.btn {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    background-color: {{ site.color.primary }};
    color:#eee;
    font-weight: 400;
    padding: 10px 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn:hover,
.btn:focus {
    color: #fff;
    background-color: {{ site.color.primary-rgba }};
}

.btn-default {
    border: 1px solid {{ site.color.links }};
    color: {{ site.color.links }};
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid {{ site.color.links }};
    outline: 0;
    color: {{ site.color.primary-dark }};
    background-color: {{ site.color.links }};
}

.btn-ghost {
    border: 2px solid {{ site.color.primary }};
    color: {{ site.color.primary }};
    background-color: transparent;
    font-weight: 400;
}

.btn-ghost:hover,
.btn-ghost:focus {
    border: 2px solid {{ site.color.links }};
    outline: 0;
    color: {{ site.color.primary-light }};
    background-color: {{ site.color.links }};
}


.btn-white {
    background-color: #fff;
    color: {{ site.color.links }};
    font-weight: 400;
}
.btn-white:hover, .btn-white:focus {
    background-color: {{ site.color.links }};
}

.btn-lg {
    border-radius: 0px;
    font-size: 16px;
    padding: 15px 20px;
}

.btn-nc {
    text-transform: none;
}


/*** intro ***/

@media(min-width:767px) {
    .header-text {  /* den lilla till höger */
        font-size: 22px;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: {{ site.color.primary }};
    /*background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

.intro-fadein {
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
}
@-webkit-keyframes fadein {    
    0% { opacity: 0; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}
@-moz-keyframes fadein {    
    0% { opacity: 0; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}


.intro h1 {
    color: #fff;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    font-weight: 900;
}

.intro-text {
    font-size: 38px;
    line-height: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
}

@media(max-width:400px) {
    .intro-text {
        font-size: 18px;
    }
}
@media(max-width:500px) {
    .intro-text {
        font-size: 28px;
        padding: 0 10px;
    }
}
@media (max-height: 660px){
    .intro-text {
        font-size: 60px;
        margin-bottom: 60px;
        margin-top: 60px;
    }
    .intro{
        padding: 80px 0 40px;
    }
}
@media (max-height: 450px){
    .intro-text {
        font-size: 40px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
}
@media(max-width:766px) {
    .intro-text {
        font-size: 28px;
    }
}
@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
    .intro-text {
        font-size: 48px;
    }
}
@media(min-width:992px) {
    .intro-text {
        font-size: 72px;
    }
}
@media(min-width:1250px) {
    .intro-text {
        font-size: 90px;
    }
}

/*@media(max-height:760px) {
    .intro-text {
        font-size: 48px;
    }
}*/



.btn-down {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 3px 16px;
    border-radius: 35px;
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.btn-down:hover,
.btn-down:focus {
    outline: 0;
    color: #fff;
}
.btn-down:active{
    box-shadow: none;
}



.btn-down i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-down i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}






.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    text-align: center;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}





.content-section {
    padding-top: 100px;
}

.default-header {
    padding-top: 50px;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 200px;
    }
    .default-header {
        padding-top: 125px;
    }
    #map {
        height: 400px;
        margin-top: 0px;
    }
}


::-moz-selection {
    text-shadow: none;
    background: {{ site.color.primary }};
    color: #fff;
}

::selection {
    text-shadow: none;
    background: {{ site.color.primary }};
    color: #fff;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}




/*****PORTFOLIO*******/

.info-sm {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 400;
    font-size: 14px;
}


#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    /*background: rgba(254,209,54,.9); /* Fallback when no plugin support */
    /*background: rgba({{ site.color.primary | hex_to_rgb | join: ',' }}, .9);*/
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
    font-size: 20px;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.project-meta {
    font-size: 16px;
}


.project-tags{
    margin-bottom: 5px;
    display: inline-block;
    background-color: #fcfcfc;
    padding: 2px 6px;
    margin-right: 4px;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
}


/** modals **/


.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*** /PORTFOLIO ***/


/*** misc custom junk ***/
.arrow-line-f {
	position: relative;
	background: #fff;
}
.arrow-line-f:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}
.arrow-line-f7 {
	position: relative;
	background: #efefef;
}
.arrow-line-f7:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #efefef;
	border-width: 30px;
	margin-left: -30px;
}

.list-nr {
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: {{ site.color.primary }};
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.mini-kontakt h2 {
    padding-top: 30px;
    color: #fff;
    font-weight: 700;
}

hr {
border-color: #ddd;
}
.hr-fat {
    border-width: 4px;
}

.title-h{
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
}
.subtitle {
    font-weight: 500;
    font-size: 18px;
}

/*.service-desc-title{
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	line-height: 22px;
}*/

/* keep embedded videos fluid! */
.icontain {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* keep 16x9 Aspect Ratio */
}
.i4x3 { padding-bottom: 75.00%; } /* keep 4x3 Aspect Ratio */
.icontain iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.hline {
    border-top: 2px solid {{ site.color.primary }};
    width: 50px;
    margin: 0 0 10px 0;
}

#prislista small {
    display: block;
}
#prislista th {
    font-size: 16px;
}
.table, table, tbody, td, tr, thead, .table>thead>tr>th, .table>thead>tr>th, .table-responsive,
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: none;
    border-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}
#prislista p {
    font-size: 14px;
    margin: 0px 0px;
    padding: 8px;
}
#prislista p:nth-child(odd) {
    background: #fafafa;
}
#prislista h4 {
    font-size: 16px;
    color: #444;
}
#prislista h4 small{
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #444;
}

.tillval {
     padding: 20px 30px;
    border-radius: 4px;
}
.tillval p {
    font-size: 16px;
    margin-bottom: 18px;
}
.tillval h4 {
    text-align: center;
}
.tillval .fa {
    font-size: 42px;
    text-align: center;
}

.pris-big {
	font-weight: 900;
	font-style: italic;
	font-size: 24px;
	border-bottom: 4px solid {{ site.color.primary }};
	color: #222;
	/* text-align: center; */
	line-height: 24px;
	padding: 0 2px;
}

.pris-small {
	font-weight: 900;
	font-style: italic;
	font-size: 18px;
	border-bottom: 3px solid {{ site.color.primary }};
	color: #222;
	padding: 0 2px;
}

.button-hover {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding-right: 5em;
  height: 3.5em;
  font: 600 1em/3.5em 'Lato', sans-serif;
  font-size: 18px;
  text-decoration: none;
  /*letter-spacing: .08em;*/
  color: #444;

  -moz-transition: 0.35s ease all;
  -o-transition: 0.35s ease all;
  -webkit-transition: 0.35s ease all;
  transition: 0.35s ease all;
}
.button-hover:hover {
  line-height: 9em;
}
.button-hover:before {
  content: attr(data-text);
  color: {{ site.color.primary }};
  position: absolute;
  top: -2.75em;
  text-decoration: underline;
}


.tjanster-lista li{
    font-size: 38px;
    line-height: 1.4em;
    font-style: italic;
    font-weight: 700;
}
.tjanster-lista a{
    color: #333;
}
.tjanster-lista a:hover,
.tjanster-lista a:active {
    color: {{ site.color.primary }};
}
.tjanster-lista .fa{
    color: {{ site.color.primary }};
    font-size: 32px;
}
@media (max-width: 766px){
    .tjanster-lista li, .tjanster-lista .fa {
        font-size: 28px;
    }
}
@media (max-width: 500px){
    .tjanster-lista li, .tjanster-lista .fa {
        font-size: 22px;
    }
}


.tjanst-lista li{
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
}
.tjanst-lista li a{
    color: #333;
}
.tjanst-lista li a:hover,
.tjanst-lista li a:active {
    color: {{ site.color.primary }};
}
@media (max-width: 1200px){
    .tjanst-lista li{
        font-size: 14px;
    }
}

.list-readmore li {
    font-weight: 300;
    padding-left: 10px;
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
}
.list-readmore li .fa {
    padding-right: 8px;
}


#main-container{
    display: table-row;
    height: 100%;
}
#footer-container{
    display: table-row;
    height: 1px;
}


.list-readmore li {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 5px;
}

.list-readmore .fa {
    color: {{ site.color.primary }};
}



/** BLOGG **/

.post-meta{
    font-family: 'Roboto Slab', 'Lato', sans-serif;
    font-weight: 300;
}




/** 2016 DESIGN REFRESH (lägg in och ersätt på rätt ställe sen efter ok) **/
footer h4 {
    color: #BE3278;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.12em;
}


/*.mini-kontakt h2, .mini-kontakt form, .mini-kontakt input[submit] {
    color: #f66;
}
.mini-kontakt input[submit], .mini-kontakt input[text] {
    border-color: #f66;
}*/




/** MOBILE **/

.m-collapsed{}