<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <style> .site-logo { z-index: -1; } </style>
    <script>
    $(document).ready(function() { 
        $('.nav_colored').removeClass('nav_colored').addClass('nav_white');
        //$('.logo-normal').addClass('z-1');
    });
    </script>
    {% include nav.html %}
    {% include intro.html %}
    <div class="top nav-turn-normal"></div>
    <div class="visible-xs col-xs-12" style="background:#960051;text-align: center;color: #eee;font-size:24px !important;"><p class="telnr" style="font-size:24px !important;">Ring oss på <a style="color: #eee;" href="tel:004626614000">026-61 40 00</a></p></div>
    {% include tjanster-mini.html %}
        <div class="container mb-sm"><hr class="hr-fat"></div>
    {% include infofilm.html %}
        <div class="container mb-sm"><hr class="hr-fat"></div>
    <div class="container" style="margin-bottom: -40px;">
        <h2>Portfolio</h2>
    </div>
    {% include portfolio-grid.html %}
        <div class="container mb-sm"><hr class="hr-fat"></div>
    {% include contact.html %}
        <div class="container mb-sm"><hr class="hr-fat hidden-xs"></div>
    {% include referenser.html %}
        <div class="mb"></div>
    {% include footer.html %}
    {% include js.html %}
</body>
</html>