<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav4.html %}
    {% include intro.html %}
    {% include about.html %}
    <div class="container">
        <h1>Portfolio</h1>
    </div>
    {% include portfolio-grid.html %}
    {% include referenser.html %}
    {% include prislista.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %} <!-- för gamla portfolion, kan kastas -->
    {% include js.html %}
    </body>
</html>