<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    
    <header class="container default-header">
        <div class="row mb">
            <div class="col-md-12">
                <h1><a href="/portfolio">Portfolio</a> / {{ page.title }}</h1>
                <!--p style="margin-bottom: 5px;">{{ page.category | join: ', ' }}</p-->
                
                {% for category in page.category %}
                <p style="margin-bottom: 5px; display: inline-block; background-color: #fcfcfc; padding: 2px 6px; margin-right: 4px;"><a href="/portfolio/{{ category }}">{{ category }}</a></p>
                {% endfor %}
                
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="row">

            {% if page.video %}
            <div class="icontain mb">
              <iframe src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
            
            {% if page.img %}
            <img src="/img/portfolio/{{ page.img }}" class="img-responsive center-block mb" alt="{{ page.title }}">
            {% endif %}
        </div>
        <div class="row mb">
            <div class="col-lg-6 col-lg-offset-1">
                <div class="spacing"></div>

                {{ content }}

            </div>
            <div class="col-lg-3 col-lg-offset-1">
                <div class="spacing"></div>
                <h4 class="project-details">{{ page.client }}</h4>
                <div class="hline"></div>
                <p class="t14px mb-xs">{{ page.client-info }}</p>
                {% if page.project-date %}<p class="project-meta"><b>Datum:</b> {{ page.project-date }}</p>{% endif %}
                {% if page.website %}<p class="project-meta"><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>{% endif %}
            </div>
        </div><!-- /row -->
        <div class="row">
            {% if page.img2 %}
            <div class="col-lg-6 col-lg-offset-3">
                <img src="/img/portfolio/{{ page.img2 }}" class="img-responsive center-block mb-sm" alt="{{ page.title }}">
            </div>
            {% if page.img2-desc %}
            <div class="col-lg-6 col-lg-offset-3">
                <p>{{ page.img2-desc }}</p>
            </div>
            {% endif %}
            {% endif %}
            
            {% if page.img2 and page.img3 %}
            <div class="row mtb"></div>
            {% endif %}
            
            {% if page.img3 %}
            <div class="col-lg-6">
                <img src="/img/portfolio/{{ page.img3 }}" class="img-responsive center-block mb" alt="{{ page.title }}">
            </div>
            {% if page.img2-desc %}
            <div class="col-lg-6">
                <p>{{ page.img3-desc }}</p>
            </div>
            {% endif %}
            {% endif %}
        </div>
        
        <hr class="hr-fat">
    </div><!-- /container -->
    
    {% include portfolio-grid.html %}
    {% include footer.html %}
    {% include js.html %}
</body>
</html>