<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    
    <header class="container default-header">
        <div class="row mb">
            <div class="col-md-12">
                <h1><a href="/portfolio">Portfolio</a> / {{ page.title }}</h1>
                <!--p style="margin-bottom: 5px;">{{ page.category | join: ', ' }}</p-->
                
                {% for tag in page.tags %}
                <p class="project-tags"><a href="/portfolio/{{ tag }}">{{ tag }}</a></p>
                {% endfor %}
                
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="row">

            {% if page.video %}
            <div class="icontain mb">
              <iframe src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
            
            {% if page.img %}
            <img src="/img/portfolio/{{ page.img }}" class="img-responsive center-block mb" alt="{{ page.title }}" style="max-height: 800px; {% if page.img-shadow %}box-shadow: #aaa 0px 0px 25px;{% endif %}">
            {% endif %}
        </div>
        <div class="row mb">
            <div class="col-lg-6 col-lg-offset-1">
                <div class="spacing"></div>

                {{ content }}

            </div>
            <div class="col-lg-3 col-lg-offset-1">
                <div class="spacing"></div>
                <h4 class="project-details"><i class="fa fa-info-circle"></i> {{ page.client }}</h4>
                <div class="hline"></div>
                <p class="t14px mb-xs">{{ page.client-info }}</p>
                {% if page.project-date %}<p class="project-meta"><b>Datum:</b> {{ page.project-date }}</p>{% endif %}
                {% if page.website %}<p class="project-meta"><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>{% endif %}
            </div>
        </div><!-- /row -->
        
        {% if page.video2 %}
        <!-- video under huvudtexten -->
        <div class="row mb">
            <div class="icontain mb-md">
              <iframe src="{{ page.video2 }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <h2>{{ page.video2-title }}</h2>
                <p>{{ page.video2-text }}</p>
            </div>
        </div>
        {% endif %}
        
    {% if page.logo-old %}
    </div>
    <div class="container-fluid" style="background-color: #fafafa; box-shadow: 0px 2px 16px rgba(0,0,0,0.1);">
        <div class="container mt-md">

                <!-- före och efter logos -->
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>Logotyp</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <p class="info-sm c-1 mb-xs ct">Före</p>
                        <img src="{{ page.logo-old }}" alt="{{ page-title }}" class="img-responsive center-block">
                    </div>
                    <div class="col-md-4">
                        <p class="info-sm c-1 mb-xs ct">Efter</p>
                        <img src="{{ page.logo-new }}" alt="{{ page-title }}" class="img-responsive center-block">
                    </div>
                    <div class="col-md-10 col-md-offset-1 mt-sm">
                        <p>{{ page.logo-text }}</p>
                    </div>
                </div>

        </div>
    </div>
    <div class="container mt">
    {% endif %}
        
        {% if page.visitkort %}
        <div class="row mb">
            {% if page.visitkort_img-12 %}
            <div class="col-md-12">
                <img src="{{ page.visitkort_img-12 }}" alt="{{ page-title }}" class="img-responsive center-block">
            </div>
            <div class="col-md-10 col-md-offset-1 mt-sm">
                <p>{{ page.visitkort-text }}</p>
            </div>
            {% endif %}
        </div>
        {% endif %}
        
        
        
        
        
        <div class="row">
            {% if page.img-c %}
            <div class="col-lg-6 col-lg-offset-3">
                <img src="/img/portfolio/{{ page.img-c }}" class="img-responsive center-block mb-sm" alt="{{ page.title }}">
            </div>
            {% if page.img-c-desc %}
            <div class="col-lg-6 col-lg-offset-3">
                <p>{{ page.img-c-desc }}</p>
            </div>
            {% endif %}
            {% endif %}
            
            {% if page.img-c and page.img-l %}
            <div class="row mtb"></div>
            {% endif %}
            
            {% if page.img-l %}
            <div class="col-lg-6">
                <img src="/img/portfolio/{{ page.img-l }}" class="img-responsive center-block mb" alt="{{ page.title }}">
            </div>
            {% if page.img-c-desc %}
            <div class="col-lg-6">
                <p>{{ page.img-l-desc }}</p>
            </div>
            {% endif %}
            {% endif %}
            
            {% if page.img-site %}
            <div class="row mb"></div>

            <div class="col-lg-10 col-lg-offset-1">
                <img src="/img/portfolio/{{ page.img-site }}" class="img-responsive center-block mb" alt="{{ page.title }}">
            </div>
            {% if page.img-site-desc %}
            <div class="col-lg-6">
                <p>{{ page.img-site-desc }}</p>
            </div>
            {% endif %}
            {% endif %}
            
        </div>
        
        {% if page.kundcitat %}
        <!-- kundcitat -->
        <div class="container mtb">
            <div class="row">

                <div class="col-sm-12 col-md-11 col-md-push-1">
                    <div class="bubble">
                        <div class="quote_content">{{ page.kundcitat }}</div>
                        <div class="quote_author tiny-caps">{{ page.citatperson }}</div>
                    </div>
                </div>

                <div class="col-sm-10 col-md-1 col-sm-offset-1 col-md-offset-0 col-md-pull-11">
                    <div class="quoter_pic" {% if page.citatbild %}style="background: url('{{ page.citatbild }}')"{% endif %}></div>
                </div>

            </div>
        </div>
        <!-- /kundcitat -->
        {% endif %}
        
        
        {% if page.villduvetamer %}
        <div class="row" style="background-color: #fafafa;">
            <div class="col-md-10 col-md-offset-1 mt-sm">
                <h3>Vill du veta mer om projektet?</h3>
                <p>{{ page.villduvetamer }}</p>
            </div>
        </div>
        {% endif %}
        
        <hr class="hr-fat">
    </div><!-- /container -->
    
    <div class="container mt" style="margin-bottom: -50px;">
        <h2>Andra uppdrag</h2>
    </div>
    {% include portfolio-grid.html %}
    {% include footer.html %}
    {% include js.html %}
</body>
</html>